.pixel-font {
	font-family: $font-pixel;
}

.icon {
	width: 0.75em;
	height: 0.75em;
	margin: 0.2em;
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
	//display: inline-block;
	fill: $color-crt-white;
}

.imgtrans {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 90%;

	div {
		font-family: $font-monospace;
		p {
			text-indent: 0;
		}
	}

}

.embed {
	text-align: center;
}

