@mixin header-text {
	@include crt-text;
	text-align: justify;
	font-weight: normal;
/*
	a {
		text-decoration: 2px underline dotted currentcolor;
		text-underline-offset: 3px;

		&:hover {
			text-decoration-style: solid;
		}
	}
	*/
}

@mixin indent {
	@include pad-h(1.4rem);
}

@mixin callout {
	@include crt-edges-h;
	@include crt-bg;
	@include indent;
	* {
		display: inline-block;
	}
}

@mixin invert-bar {
	@include crt-bg;
	background-color: transparentize($color-white, 0.7);
	color: $color-grey;
}
