{{ define "main" }}
<article class='record-container'>
	{{ partial "entry/single_header.html" . }}

	<div class='record-body'>
		{{ if (.Param "images") }}
		<figure><img src='{{ index (.Param "images") 0 }}'></figure>
		{{ end }}
		{{ .Content }}
		<hr>
		<p><strong><em>If you enjoyed this article and found it useful, please <a href='https://ko-fi.com/suddendesu'>consider contributing to our Ko-fi</a>. Thank you! 🩷</em></strong></p>
	</div>
	{{ partial "entry/single_footer.html" . }}
</article>
{{ end }}