{{ define "main" }}
{{ $dateMachine := "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := "2006-01-02" }}
{{ range site.RegularPages }}
<article class='crt-bg crt-edges-h record-entry'>
  <header class='callout record-header'>
    <h1><a href='{{ .RelPermalink }}'>{{ .LinkTitle }}</a></h1>
  </header>
  <div class='record-body'>
    {{ if (.Param "images") }}
    <figure><img src='{{ printf "%s" (index (.Param "images") 0) | printf "%s%s" .RelPermalink }}'></figure>
    {{ end }}
    {{ .Summary }}
  </div>
  <footer class='crt-text record-footer'>
    <div>🖉<time datetime="{{ .Date | time.Format $dateMachine }}">{{ .Date | time.Format $dateHuman }}</time> by {{
      .Param "author" }}
    </div>
  </footer>
</article>
{{ end }}
{{ end }}