{{ $description := ""}}

{{ if .Param "og_description" }}
{{ $description = printf "%s" ( .Param "og_description" | plainify ) }}
{{ else }}
{{ if .Description }}
{{ $description = printf "%s" . }}
{{ else }}
{{ if .IsPage }}
{{ $description = printf "%s" .Summary | plainify }}
{{ end }}
{{ end }}
{{ end }}

{{ $image := "/icon.svg" | absURL }}
{{ if (.Param "images") }}
{{ $image = printf "%s%s" .Permalink ( index (.Param "images") 0 )}}
{{ end }}

{{ $site_title := .Site.Title }}
{{ $page_title := .Title }}

{{ $title := $site_title }}
{{ if .IsHome }}
{{ $title = $site_title }}
{{ else }}
{{ $title = printf "%s | %s" $page_title $site_title }}
{{ end }}


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content='{{ $description }}'>
<!-- Essential Open Graph Tags -->
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:image" content="{{ $image  }}" />


<!-- Article Specific Tags -->
{{- if eq .Section "entries" -}}
<meta property="article:published_time" content="{{ .Date.Format " 2006-01-02T15:04:05-07:00" | safeHTMLAttr }}" />
<meta property="article:modified_time" content="{{ .Lastmod.Format " 2006-01-02T15:04:05-07:00" | safeHTMLAttr }}" />
{{- end -}}

{{ template "_internal/google_analytics.html" . }}
<link rel="shortcut icon" type="image/svg+xml" href="/icon.svg">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{- partialCached "html_head/css.html" . -}}