.pixel-font {
	font-family: $font-pixel;
}



.icon {
	width: 0.75em;
	height: 0.75em;
	margin: 0.2em;
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
	//display: inline-block;
	fill: $color-crt-white;
}

.imgtrans {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 90%;

	div {
		font-family: $font-monospace;
		p {
			text-indent: 0;
		}
	}

}

.record-entry {
	@include pad-v(1.5rem);
	background-color: $color-black;
}

.record-image {
	float: left;
	margin-top: 0 !important;
	border: 2px solid $color-black;
	border-radius: 2px;
}

.record-header {
	color: $color-grey;
	//background-color: $color-off-white;
	background-color: $color-crt-theme;
	font-size: 3rem;
	@include pad-v(1rem);
	line-height: 1em;
	
	a {
		text-decoration: none;
	}

}

.record-body {

	& *:focus-visible {
		outline: 2px solid $color-crt-theme;
	}

	& > * {
		@include margin-v(1.25rem);
		@include margin-h(auto);
	}

	pre, blockquote, table, code, hr {
		max-width: 90%;
	}

	// ensure all items except things like h1/h2 headers have a bit of margin
	p, div, table {
		@include margin-h(2.2rem);
	}

	ul, ol {
		@include margin-h(5rem);
	}

	p {
		text-align: justify;
		text-indent: 1em;
	}

	a {
		text-decoration: underline;
		text-decoration-style: dotted;
		color: $color-link;

		&:hover {
			text-decoration-style: solid;
		}
	}

	hr {
		width: 80%;
		border: none;
		border-top: 2px dashed $color-white;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include header;
		
		margin-top: 4rem;
		margin-bottom: 1.75rem;
	}

	h1 {
		@include crt-edges-h;
		@include crt-bg;
	}

	figure img, table, blockquote, pre {
		border: 3px solid $color-black;
		border-radius: $radius-half;
	}

	p:has(> img) {
		text-align: center;
		}

	figure {
		display:flex;
		flex-flow: column;
		max-width: 60%;

		& > figcaption {
			@include margin-h(1rem);
		}

		&.large {
			max-width: 90%;
			img {
				border: none;
			}
		}
	}
	
	figure.imgbar, div.imgbar {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	figcaption, caption {
		text-align: left;
		caption-side: bottom;
		font-style: italic;
		font-size: 0.9rem;
	}


	table {
		border-collapse: separate;
		border-spacing: 0;

		font-family: monospace;

		th,
		td {
			padding: 0.25em 1em;
			text-align: left;
			vertical-align: top;
			border-left: 2px dotted #000;
		}

		th:first-child, td:first-child {
			border:none;
		}

		tr {
			display: table-row;
			vertical-align: inherit;
		}

		th:first-child {
			border-radius: $radius-half 0 0 0;
		}
		th:last-child {
			border-radius: 0 $radius-half 0 0;
		}
		tr:last-child {
			td:first-child {
				border-radius: 0 0 0 $radius-half;
			}
			td:last-child {
				border-radius: 0 0 $radius-half 0;
			}
		}

		thead {
			display: table-header-group;
			vertical-align: middle;
			@include invert-bar;
			font-weight: bold;
			font-size: 1.1rem;
		}

		tbody {
			tr:nth-child(odd) {
				background: lighten($color-darken, 6);
			}
			tr:nth-child(even) {
				background: $color-darken;
			}
		}
	}

	pre,
	blockquote {
		width: fit-content;
		min-width: 50%;
		padding: 1rem;
		@include margin-auto;
		overflow: auto;
		background: $color-bg-for-light-text;
		tab-size: 2;
		p {
			text-indent: 0;
		}
	}

	pre, code {
		font-family: $font-monospace;
		white-space: pre-wrap;
	}

	blockquote {
		font-style: italic;
	}


}

.record-footer {
	color: $color-off-white;
	display: flex;
	flex-wrap: wrap;
	@include margin-h(1rem);

	div:last-child {
		margin-left: auto;
	}
}


.tinyimg {
	
	img {
		border: none !important;
		border-radius: 0 !important;
		image-rendering: pixelated;
		image-rendering: -moz-crisp-edges;
		// transform: scale(4);
	}
}

img.zoom {
	transition: transform 0.2s, background-color 0.2s;
	cursor: zoom-in;
	border: none !important;
	border-radius: 0 !important;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;

	&:active {
		border-radius: 2px;
		border: 2px solid $color-black !important;
		background: $color-white url($path-img+'body_bg.png');;
		transform: scale(2);
		cursor: zoom-out;
		padding: 0.25rem;

		backface-visibility: hidden;
	}

}

.embed {
	text-align: center;
}
