/*
  CRT Effects
*/

$crt-font: $font-condensed;

// size of shadow for blur on text
$crt-text-blur: 2px;

// size of shadows on the edges of the "screen"
$crt-edge-shadow-size: 1.5rem;


@mixin crt-bg {
	background-image: url($path-img+'rgb2.png');
}

.crt-bg {
	@include crt-bg;
}

@mixin crt-text {
	font-family: $crt-font;
	letter-spacing: 0.1em;
	text-shadow: 0 0 $crt-text-blur currentcolor;

	svg {
		fill: currentcolor;
		filter: drop-shadow(0 0 $crt-text-blur currentcolor);
	}
}

.crt-text {
	@include crt-text;
}

@mixin crt-edges {
	box-shadow: inset 0 0 $crt-edge-shadow-size #000;
}

.crt-edges {
	@include crt-edges;
}

@mixin crt-edges-v {
	box-shadow: inset 0 $crt-edge-shadow-size $crt-edge-shadow-size (-$crt-edge-shadow-size) #000,
		inset 0 (-$crt-edge-shadow-size) $crt-edge-shadow-size (-$crt-edge-shadow-size) #000;
}

.crt-edges-v {
	@include crt-edges-v;
}

@mixin crt-edges-h {
	box-shadow: inset $crt-edge-shadow-size 0 $crt-edge-shadow-size (-$crt-edge-shadow-size) #000,
		inset (-$crt-edge-shadow-size) 0 $crt-edge-shadow-size (-$crt-edge-shadow-size) #000;
}

.crt-edges-h {
	@include crt-edges-h;
}

// command line prompt effect
$crt-prompt-content: '>';

$crt-cursor-content: '█';

@keyframes cursor {
	0% {
		opacity: 0.5;
	}
	15% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
}

.crt-prompt {
	&:before {
		content: $crt-prompt-content;
	}

	&:after {
		content: $crt-cursor-content;
		animation: cursor 1.1s infinite;
	}
}

@keyframes fizzle {
	0% {
		opacity: 0.9;
	}
	10% {
		opacity: 1;
	}
	40% {
		opacity: 0.95;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 0.92;
	}
	100% {
		opacity: 1;
	}
}

.crt-fizzle {
	animation: fizzle 100ms infinite;
}
