/*
-------------------------------------------------------------------------------
	ID_DEF
	Definitions for ID'ed elements
-------------------------------------------------------------------------------
*/

#maincol {
	@include margin-auto;
	max-width: 1024px;
	@include pad-h(0);
	@include pad-v(2rem);
	min-height: 100%;
	background-color: $color-grey;
	background-clip: padding-box;
	// TODO make the outline color browser specific
	border: 1.5rem solid rgba(139, 139, 139, 0.1);
	border-radius: 2rem;
}

#maincol > header {
	margin-bottom: 2rem;
	line-height: 1;

	& > span
	{
		@include pad-h(1rem);
		font-size: 3.5rem;
		letter-spacing: 0.25em;
		color: $color-crt-theme;
		text-shadow: $shadow-large;
		letter-spacing: 0.5rem;
	}

	& > p[role="doc-subtitle"]
	{
		@include pad-h(1.5rem);
		line-height: 1.5em;
		font-size: 1.1rem;
		color: $color-crt-white;
		margin-bottom: 0.5rem;
	}

	nav {
		flex-wrap: wrap;
		line-height: 1.5em;
		font-size: 1.3rem;
		@include pad-h(1rem);

		form {
			margin-left: auto;
		}

	}
}

#maincol > main {
	& > article {
		margin-top: 2rem;
		margin-bottom: 5rem;
	}

	& > article:last-child {
		margin-bottom: 2rem;
	}
}

#maincol > footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;

	.pager {
		margin-left: auto;

		a {
			text-decoration: none;
		}

		& > div {
			text-align: center;
			min-width: 1.5em;
		}

		.pager-active {
			background: $color-grey;
			color: #626c6a;

			a:hover {
				background-color: unset;
			}
		}
	}
}

#monitor {
	display:flex;
	max-width: 1024px;
	@include margin-auto;
	align-items: baseline;
	margin-top: 2rem;
	justify-content: flex-end;
	@include pad-h(2%);

	.badge {
		margin-right: auto;
		@include pad-h(0.5rem);
		border: 1px solid rgba(0, 0, 0, 0.25);
		box-shadow: 1px 1px rgba(60, 60, 60, 0.5);
		border-radius: 2px;
		background-color: #1e1e1e;
		color: #533e2c;

		& > * {
			text-shadow: 1px 1px rgb(60, 60, 60), -1px -1px #000;
		}

		& > span:first-child
		{
			font-size: 1.5rem;
			padding-right: 0.25rem;
			letter-spacing: -3px;
		}
	}

	.led {
		margin-left: auto;
		color: #27c027a8;
		margin-right: 1rem;
		text-shadow: 0 0 15px currentcolor;
	}

	.button {
		width: 4rem;
		padding: 0.2rem;
		border: 1px solid rgba(0, 0, 0, 0.25);
		box-shadow: 1px 1px rgba(60, 60, 60, 0.5);
		border-radius: 0.25rem;
		background-color: rgba(0, 0, 0, 0.1);
		text-align: center;

		& > .icon {
			fill: rgba(255, 255, 255, 0.25);
		}
	}
}
