/*
-------------------------------------------------------------------------------
	VARS
	Variables for page colors, typography, sizes, etc
-------------------------------------------------------------------------------
*/

// Path config
$path-img: '/img/';
$path-font: '/font/';

// Typography
@font-face {
	font-family: pxl;
	src: url($path-font+'spleen_8x16.otf');
}

// @import url(https://fonts.googleapis.com/css?family=Ysabeau:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap);
// @import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inconsolata&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap);
@import url(https://fonts.googleapis.com/css2?family=VT323&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cuprum&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Orienta&display=swap);

$font-monospace: Inconsolata, 'Roboto Mono', monospace;
$font-condensed: Cuprum;
$font-sans: Nunito, Roboto, sans-serif;
$font-serif: 'Noticia Text', serif;
$font-pixel: 'pxl', $font-monospace;

$font-size-base: 18px;

$font-family-base: $font-sans;

// Colors - monochrome
$color-white: #d0d0d0;
$color-off-white: #626c6a;
$color-grey: #1f1f2b;
$color-black: #080811;

$color-bg-for-light-text: rgba(79, 79, 79, 0.25);

// CRT colors
$color-crt-white: #dddddd90;
$color-crt-green: #6a975690;
//$color-crt-amber: #cc7d1490;
$color-crt-amber: #e38f2090;
$color-crt-theme: $color-crt-amber;

// burn in color: #130e0636

$color-link: #e1850a;

$color-background: $color-black;
$color-text: $color-white;

//$color-darken: rgba(30, 30, 30, 0.6);
$color-darken: rgba(12%, 12%, 14%, 0.4);

// Shadows
$shadow-large: 0 0 6px;

// Radii
$radius-half: 0.4rem;
$radius-quarter: 0.25rem;
